:root {
  --lightRed: #FCC2C2;
  --darkRed: #A31D1D;
  --lightBeige: #FFFBEE;
  --beige: #ECDCBF;
}

.signup-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  #content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
 
  .signup-left {
    flex: 2;
    background-color: white; 
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  .logo-container {
    margin-bottom: 1rem;
  }
  
  .logo {
    width: 60px;
    height: 60px;
  }
  

  .signup-form-card {
    background-color: #FFFBEE; 
    border-radius: 20px;
    padding: 2rem;
    border: 10rem;
    width: 100%;
    max-width: 600px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.10);
  }
  
  .guest-section {
    flex: 1;
    background-color: var(--darkRed); 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .guest-content {
    width: 100%;
  }

  .error-message{
    color: var(--darkRed);
  }

  input, textarea {
    padding: 8px;
    border: 1px solid var(--darkRed);
    border-radius: 4px;
    margin-bottom: 10px; 
    width: 100%;
    box-sizing: border-box;
}

