:root {
  --lightRed: #FCC2C2;
  --darkRed: #A31D1D;
  --lightBeige: #FFFBEE;
  --beige: #ECDCBF;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.login-left {
  flex: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.logo-container {
  margin-bottom: 1rem;
}

.logo {
  width: 60px;
  height: 60px;
}


.login-content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 80px;
}

.login-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.10);
  background-color: var(--lightBeige);
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.login-title {
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 1.75rem;
}


.custom-login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.login-input {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.05);
}

.login-button {
  background-color: var(--lightRed);
  color: white;
  border: none;
  padding: 0.75rem 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

.login-button:hover {
  background-color: var(--darkRed);
}

.signup-card {
  background-color: var(--lightBeige);
  width: 100%;
  border-radius: 20px;
  padding: 1.5rem 2rem;
  margin-top: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.10);
}

.signup-title {
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
  border: 2px solid var(--lightRed);
}
.signup-button {
  background-color: var(--lightRed);
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: var(--darkRed);
}

.error-message{
  color: var(--darkRed);
}