:root {
    --lightRed: #FCC2C2;
    --darkRed: #A31D1D;
    --lightBeige: #FFFBEE;
    --beige: #ECDCBF;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--lightBeige);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  .login-input {
    padding: 12px 16px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  }
  
  .login-button {
    background-color: var(--darkRed);
    color: white;
    border: none;
    padding: 12px 0;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #821616;
  }
  
  .forgot-password {
    font-size: 14px;
    color: #000;
    text-align: left;
    margin-top: 0.5rem;
  }
  