
.login-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .login-left {
    flex: 2;
    background-color: white; 
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  
  .logo-container {
    margin-bottom: 1rem;
  }
  
  .logo {
    width: 60px;
    height: 60px;
  }
  

  .login-content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .login-card {
    background-color: #FFFBEE;
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .login-title {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 1.75rem;
  }
  

  .custom-login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  
  .login-input {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  }
  
  .login-button {
    background-color: #A31D1D;
    color: white;
    border: none;
    padding: 0.75rem 0;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
  }
  
  .login-button:hover {
    background-color: #821616;
  }
  
  .forgot-password {
    font-size: 0.875rem;
    color: #000;
    text-align: left;
    margin-top: 0.5rem;
    cursor: pointer;
  }
  

  .signup-card {
    background-color: #FFFBEE;
    border-radius: 20px;
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }
  
  .signup-title {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .signup-button {
    background-color: #A31D1D;
    color: white;
    border: none;
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-button:hover {
    background-color: #821616;
  }
  
  /* Guest section (right side) styling */
  .guest-section {
    flex: 1;
    background-color: #932c24;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .guest-content {
    width: 100%;
  }