:root {
    --lightRed: #FCC2C2;
    --darkRed: #A31D1D;
    --lightBeige: #FFFBEE;
    --beige: #ECDCBF;
}

#header {
    display: flex;
    flex-direction: row;
    position: sticky;
    width: calc(100% - 30px);
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 0 15px;
}

#header Button {
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1.1em;
    transition: border 0.25s;
    cursor: pointer;
}

#header Button:hover {
    border: 2px solid var(--darkRed);
}

#header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
}

#header-left Button{
    color: var(--darkRed);
    background: none;
    margin: 0 15px;
}

#header-left Button.active{
    border: 2px solid var(--darkRed);
    color: white;
    background: var(--darkRed);
}
#header-mid {
    margin: 0;
    padding: 0;
    color: var(--darkRed);
}
#header-right Button {
    color: var(--darkRed);
    background: var(--lightRed);
}

#home-btn {
    width: 100px;
}

#create-btn {
    width: 175px;
}

#view-btn {
    width: 200px;
}